<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文章列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/materialize/0.97.8/css/materialize.min.css" rel="stylesheet"/>
</head>
<body>
<!--导航栏-->
<div th:replace="common::head"></div>

<!--侧边导航-->
<div th:replace="common::left"></div>

<div class="container">
    <br/><br/>
    <a class="btn-flat grey" href="/articles">所有</a>
    <a th:class="'btn-flat cate '+${category?.color}" th:each="category:${categorys}" th:text="${category.categoryName}">分类</a>

    <!--文章列表-->
    <div class="row" th:each="article:${articles?.content}">
        <div class="card hoverable grey lighten-4" th:onclick="'javascript:openBox(\''+${article.articleId}+'\')'">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    <span class=" grey-text text-darken-4" th:text="${article.title}">文章标题</span>
                    <!--<i class="material-icons right">more_vert</i>-->
                </span>
                <p th:text="${#strings.abbreviate(article.content,50)}">文章内容</p>
            </div>
        </div>
    </div>

    <!--分页-->
    <ul class="pagination">
        <!--上一页-->
        <span th:style="${articles?.number eq 0}?'display: none':''"><li class="disabled"><a th:href="'/articles/'+${current}+'/'+${articles?.number-1}"><i class="material-icons">chevron_left</i></a></li>
        </span>

        <!--页数-->
        <span th:style="${articles?.totalPages eq 0}?'display: none':''">
        <li th:class="${pageNo eq articles?.number}?'active':'waves-effect'"
            th:each="pageNo:${#numbers.sequence(0, articles?.totalPages-1)}">
            <a th:href="'/articles/'+${current}+'/'+${pageNo}" th:text="${pageNo+1}">1</a>
        </li>
        </span>

        <!--下一页-->
        <span th:style="${articles?.number eq articles?.totalPages-1 or (articles?.totalPages eq 0)}?'display: none':''"><li class="waves-effect"><a th:href="'/articles/'+${current}+'/'+${articles?.number+1}"><i class="material-icons">chevron_right</i></a></li>
        </span>
    </ul>
</div>

<!--全局选项按钮-->
<div th:replace="common::floating"></div>

<!--页脚-->
<div th:replace="common::foot"></div>

<!--jQuery-->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js"></script>

<!--通用js-->
<script type="text/javascript" src="/js/common.js"></script>
<script>
    //点击分类跳转
    $(".cate").click(function () {
        var con = $(this).text();
        window.location.href = "/articles/" + con + "/0";
    });

    //点击文章卡片跳转详细页面
    function openBox(id) {
        window.location.href="/article/details/"+id;
    }
</script>

</body>
</html>