<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文章详细</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/materialize/0.97.8/css/materialize.min.css" rel="stylesheet"/>
</head>

<body>

<!--导航栏-->
<nav class="teal" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="flow-text">好文章</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="javascript:void(0);" id="button-collapse" data-activates="slide-out"><i
                        class="material-icons white-text">menu</i></a>
            </li>
        </ul>
        <!--移动端-->
        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="#">Navbar Link</a>
            </li>
            <li>
                <a href="#">Navbar Link</a>
            </li>
            <li>
                <a href="#">Navbar Link</a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!--侧边导航-->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <!--<img src="images/office.jpg">-->
            </div>
            <!--<a href="#!user"><img class="circle" src="images/yuna.jpg"></a>-->
            <a href="#!name"><span class="white-text name">张三</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@sina.com</span></a>
        </div>
    </li>
    <li>
        <a href="#!"><i class="material-icons">cloud</i>带图标的第一链接</a>
    </li>
    <li>
        <a href="#!">第二链接</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">子标题</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">带波纹效果的第三链接</a>
    </li>
</ul>

<div class="container">
    <div class="row">
        <!--文章标题-->
        <div class="center">
            <h1 class="flow-text" th:text="${article?.title}">文章标题</h1>
        </div>
        <!--文章内容-->
        <div style="min-height: 500px;height:auto !important;height:500px;">
            <div class="card-panel hoverable">
                <p class="flow-text" th:utext="${article?.contentHtml}">
                </p>
            </div>
        </div>
    </div>
</div>

<!--页脚-->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">关于</h5>
                <p class="grey-text text-lighten-4">都是垃圾分类空间的身份极乐世界</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">设置</h5>
                <ul>
                    <li>
                        <a class="white-text" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li>
                        <a class="white-text" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="white-text" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by
            <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!--jQuery-->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js"></script>

<!--通用js-->
<script type="text/javascript" src="/js/common.js"></script>
</body>

</html>