<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >文章详细</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/materialize/0.97.8/css/materialize.min.css" rel="stylesheet"/>
</head>

<body>

<!--导航栏-->
<div th:replace="common::head"></div>

<!--侧边-->
<div th:replace="common::left"></div>

<div class="container">
    <div class="row">
        <!--文章标题-->
        <div class="center">
            <h3 th:text="${article?.title}">文章标题</h3>
        </div>
        <!--收藏-->
        <div class="right">
            <a href="javascript:void(0);" id="favorite" class="grey-text"><i class="material-icons">grade</i></a>
        </div>
        <br/>
        <!--文章内容-->
        <div style="min-height: 500px;height:auto !important;height:500px;">
            <div class="card-panel hoverable  teal lighten-5">
                <p class="flow-text" th:utext="${article?.contentHtml}">
                </p>
            </div>
            <!--日期时间-->
            <div>
                <span>发布于</span>
                <span th:text="${#dates.format(article?.createTime,'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <!--编辑删除-->
            <div th:hidden="${status}" class="right-align">
                <a th:href="'/edit/'+${article?.articleId}" class="grey-text text-lighten-1">编辑文章</a>
                <a href="javascript:void(0);" class="deep-orange-text deep-orange-lighten-3 delLink">删除文章</a>
            </div>
        </div>
        <!--文章id-->
        <input id="articleId" type="hidden" th:value="${article?.articleId}" />

        <!--评论列表-->
        <h4>评论</h4>

        <ul class="collection" th:each="comment:${comments}">

            <li class="collection-item avatar">
                <i class="material-icons circle green">
                    android</i>
                <p th:utext="${comment?.userName}"></p>
                <p th:utext="${comment?.content}"></p>
                <p th:utext="${#dates.format(comment?.createTime,'yyyy-MM-dd HH:mm')}"></p>
                <input id="commentId" type="hidden" th:value="${comment?.commentId}" />
                <a href="javascript:void(0);" class="secondary-content"><i th:class="${comment?.voteStates}==1?'material-icons red-text':'material-icons'">thumb_up</i></a>
            </li>
        </ul>

        <!--评论编辑区域-->
        <div id="editor" class="section">
        </div>
        <!--发布按钮-->
        <button class="btn waves-effect waves-light sendCom right">提交
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<!--全局选项按钮-->
<div th:replace="common::floating"></div>

<!--页脚-->
<div th:replace="common::foot"></div>

<!--jQuery-->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js"></script>

<!--富文本编辑器-->
<script src="https://cdn.bootcss.com/wangEditor/10.0.13/wangEditor.min.js"></script>

<!--通用js-->
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/editComment.js"></script>

<script>
    //初始化
    $(function () {
        $.get("/favorite/"+$("#articleId").val(), function(result){
            if(result['status']==200) {
                $("#favorite").children("i").attr("class", "material-icons red-text");
            }
        });
        editComment.init();
    });
</script>
</body>

</html>